@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

:root {
    --side-bg: #ffffff;
    --main-bg: #f3f6f9;
    --primary: #2563eb;
    --primary-light: #eff6ff;
    --success: #059669;
    --danger: #dc2626;
    --border: #e2e8f0;
    --text-main: #1e293b;
    --text-muted: #64748b;
    
    /* Dinâmicas - Controlled by JS */
    --card-w: 300px;
    --card-h: 420px;
    --card-radius: 24px;
    --card-img-size: 160px;
    --f-size-item: 18px;
    --f-size-desc: 16px;
    --f-size-cat: 11px;
    --rx: 0deg; --ry: 0deg;
    --view-title-color: #1e293b;
}